h1, p{
    font-family: 'Single Day', cursive;
    color: #EEEEEE;
}

main{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #00ADB5;
}

header{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #222831;
    color: #EEEEEE;
}

.login {
    font-family: "Single Day", cursive;
    text-decoration: none;
    color: #EEEEEE;
    position: relative;
    left: 250px;
    top: 50px;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #393E46;
}

head{
    padding: 0px;
    margin: 0px;
}


footer{
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: circle;
    background-color: #00acb5c2;
}

li {
    margin: 10px;
}



.customButton{
    background-color: #222831;
    color: #EEEEEE;
    border-radius: 5px;
    size: 15px 30px;
    border-color: #00ADB5;

}

.button:hover{
    cursor: pointer;
}

.mytheme{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mytheme1 {
    padding: 10px;
    margin: 5px;
    display: center;
    align-content: center;
    content: center;
    position: relative;
    left: 100%
}

.mytheme2 {
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    right: 10%
}

.centertxt {
    display: flex;
    justify-content: center;
    align-content: center;
}

.MyProject {
    font-family: "Single Day", cursive;
    text-decoration: none;
    color: #EEEEEE;
    border: 5px;
    border-color: #222831;
    display: grid;
    grid-column: 1fr;
}

.column {
    position: relative;
    left: 50px;
}

a:link {
    color: #EEEEEE;
  }
  
a:visited {
    color: #eeeeee52;
  }
  
a:hover {
    color: #eeeeeeb0;
    cursor: pointer;
  }
  
a:active {
    color: #eeeeee3b;
  }

