h1, p{
    font-family: 'Single Day', cursive;
    color: #EEEEEE;
}

main{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #222831;
    color: #EEEEEE;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #393E46;
}

head{
    padding: 0px;
    margin: 0px;
}


footer{
    margin: 0px;
    padding: 0px;
}


.imgP {
    display: grid;
    grid-column: repeat(2 1fr);
    border: none;
    
}

.txt {
    color:#EEEEEE;
    font-family: "Single Day", cursive;
    display: flex;
}

.mytheme{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.centertxt {
    display: flex;
    justify-content: center;
    align-content: center;
}
