h1, p{
    font-family: 'Single Day', cursive;
    color: #EEEEEE;
}

main{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #222831;
    color: #EEEEEE;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #393E46;
}

head{
    padding: 0px;
    margin: 0px;
}


footer{
    margin: 0px;
    padding: 0px;
}

.mytheme{
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.centertxt {
    display: flex;
    justify-content: center;
    align-content: center;
}