h1, p{
    font-family: 'Single Day', cursive;
    color: #EEEEEE;
}

main{
    padding: 0px;
    margin: 0px;
    background-color: #00ADB5;
}

header{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #222831;
    color: #EEEEEE;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #393E46;
}

head{
    padding: 0px;
    margin: 0px;
}


footer{
    margin: 0px;
    padding: 0px;
}

.mytheme{
    padding: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.centertxt {
    display: flex;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration: none;
    font-family: 'Single Day', cursive;
    color: #EEEEEE;
    background-color: #007c82;
    padding: 8px 16px;
    border-radius: 8px;
    position: relative;
    top: 20px
}

a:link {
    color: #EEEEEE;
  }
  
a:visited {
    color: #eeeeee52;
  }
  
a:hover {
    color: #eeeeeeb0;
  }
  
a:active {
    color: #eeeeee3b;
  }

.mytheme{
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mythemeimg{
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}