h1, p{
    font-family: 'Single Day', cursive;
    color: #EEEEEE;
}

main{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #00ADB5;
}

header{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #222831;
    color: #EEEEEE;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #393E46;
}

head{
    padding: 0px;
    margin: 0px;
}


footer{
    margin: 0px;
    padding: 0px;
}

button {
    background-color: #007c82;
    border-radius: 5px;
    color: #EEEEEE;
    font-family: "Single Day", cursive;
}

table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4F5F64;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }