<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='pj.css')}}">
    <link rel="stylesheet" href="./style/pj.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/x-icon" href="/image/document.ico">
    <div class="center-content">
        {%for i in showed_pj%}
        <title>{{i[0]}}</title>
        {%endfor%}
    </div>
</head>
<body>
    <header>
            <h1>{{showed_pj[0][0]}}</h1>
    </header>
    <main>
            <div class="mytheme">
                <div>
                    <div>
                        {%for i in showed_pj %}
                        <h3>{{i[0]}}</h3>
                        <p>{{i[1]}}</p>
                        {%endfor%}
                    </div>
                    <a href="/" class="ButtonLink">home</a>
                </div>
                <div class="mytheme">
                    {%for i in images%}
                    <img src="/image/{{i}}" height="190" width="300" class="imgcustm">
                    {%endfor%}
                </div>
            </div>   
              
    </main>
</body>
</html>